*{
    margin:0;
    font-family: 'Lato','Arial',sans-serif;
}
html{
    font-family: 'Lato','Arial',sans-serif;
    font-size: 20px;
    color: #555;
    text-rendering: optimizeLegibility;
}
header{
    background-image: linear-gradient(rgba(36, 34, 34, 0.445),rgba(36, 34, 34, 0.445)),url(Omnifood_Contents/Omnifood\ Contents/hero.jpg);
    height:100%;
    background-size: cover;
    background-position: center;
}
.hero-text{
    position: absolute;
    top:300px;
    left:150px;
}
h1{
    color: white;
    margin-bottom: 25px;
    font-size: 200%;
    font-weight: 300;
    text-transform: uppercase;
}
.btn-pella{
    background-color: #e67e22;
    text-decoration: none;
    font-weight: 300;
    padding: 10px 20px;
    border-radius: 200px;
    color:white;
    border: 1px solid #e67e22;
}
.btn-pella:hover{
    background-color: #64350b;
}
.btn-doosra{
    text-decoration: none;
    font-weight: 300;
    padding: 10px 20px;
    color:white;
    border: 1px solid #e67e22;
    border-radius: 200px;
    margin-left: 9px;
}
.btn-doosra:hover{
    background-color: #e67e22;
    transition: 0.3s;
}
.main-nav{
    float: right;
    margin-top: 30px;
    list-style: none;
}
.main-nav li{
    display: inline-block;
    margin-right: 70px;
    border-bottom: 2px solid transparent;
}
.main-nav li a{
    text-decoration: none;
    color:white;
    text-transform: uppercase;   
    font-size: 90%;  
}
.logo{
    width:142px;
     height:142px;
     margin-top: 25px;
     margin-left: 150px;
}
.main-nav li:hover{
   border-bottom: 2px solid #e67e22;
   transition: border-bottom 0.3s;
    
}
.main-grid{
    width: 90%;
    display: grid;
    grid-template-rows: 100px 170px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    margin: 20px auto auto auto;
    
    }
.heading{
    grid-column: span 4;
    
}
.meal-display{
    display: grid;
    grid-template-rows: 200px 200px;
    grid-template-columns: 350px 350px 350px 350px;
    width: 100%;
    margin: 25px auto auto auto;
    background-color: chartreuse;
}
.images{
    height: 200px;
    width: 297px;
    object-fit: fill;
    transform: scale(1.10);
    width: 300px;
    
}
.meal-display img:hover{
    transform: scale(1.05);
    transition: transform 0.3s;
}
